.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-auto-columns: 2fr 10fr;
    grid-template-areas:
        "header header"
        "left-side-bar-wrapper main-content-wrapper"
        "footer footer";
}

header {
    grid-area: header;
}

.left-side-bar-wrapper {
    grid-area: left-side-bar-wrapper;
}

.main-content-wrapper {
    grid-area: main-content-wrapper;
}

footer {
    grid-area: footer;
}
